.checklist_container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    height:30vh;
    width:50vw;
    margin-top: 2rem;
}
.checklist_interface{
    height:30vh;
    width:30vw;
    background-color:#444;
    border-radius:10px;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.checklist_display{
width:25vw;
height:30vh;
margin-left:5vw;
margin-right:4vw;
background-color:#444444;
border-radius:10px;
box-shadow: 10px 10px 50px rgb(0, 0, 0);
color: #fff;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
font-size:1em;
}

.checklist_display table{
    width:15vw;
}
/* .checklist_display tr{
    width:15vw;
}
.checklist_display th{
    width:7vw;
} */
.checklist_display tr{
    height:20px;
    width:7vw;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.checklist_interface_title{
    font-size:1em;
    justify-self:start;
    margin-bottom:2vh;
}
.manifest_form{
    font-size:1em;
    display:flex;
    flex-direction:column;
    width:20vw;
    height:20vh;
    background-color:444;
    border-radius:10px;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.manifest_form{
    background-color:transparent;
}

button{
    height:2em;
    width:40%;
    text-justify:center;
    text-align:center;
    padding-bottom:1.5em;
}