.checklist_container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-evenly;
    height:30vh;
    width:50vw;
}
.checklist_interface{
    height:30vh;
    width:30vw;
    background-color:#444;
    border-radius:10px;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}
.checklist_display{
width:25vw;
height:30vh;
margin-left:5vw;
background-color:#444444;
border-radius:10px;
box-shadow: 10px 10px 50px rgb(0, 0, 0);
color: #fff;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

.checklist_display th{
    width:200px;
}
