.App {
    text-align: center;
    overflow:hidden;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .welcome {
    margin-top: 1.8rem;
  }
  
  
  .container {
    /* position:fixed; */
    top:0;
    left:0;
    min-height:60vh;
    width:100vw;
    background-color:rgb(83, 37, 126);
  }
  .container2 {
    /* position:fixed; */
    height:40vh;
    width:100vw;
    background-color:rgb(83, 37, 126);
  }

  form {
    width: 45vw;
    margin: auto;
    background: #fff;
    color: #444;
  }
  
  
  .bottom-Bar {
    position:fixed;
    background-color:black;
    height:10vh;
    width:100vw;
    left:0;
    bottom:0;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
  }
    .field_button{
      font-size:small;
      height:5vh;
      width:15vh;
      padding:0;
      margin-top:0;
    }

  .flex-shifts{
    margin-right: 1.4rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.2rem;
  }

  form textarea {
    height: 5rem;
  }
  
  .container{
    display:flex;
    align-items:center;
    justify-content: center;
  }
      .tabulator{
        font-size:2vh;
        max-width: 90%;
      }
          .tabulator-header{
            font-size:large;
          }
  
          .tabulator-row{
            background:rgb(133, 89, 133);
          }
              .tabulator-row-even{
                background:blue;
              }
        