.wrapper {
    margin: 1.5rem 0 1rem 0;
    max-height: 90%;
  }
  
  .welcome {
    padding-top: 1.3rem;
  }
  
  .flexTechs {
    margin: 1.3rem 0 1rem 0;
    display: flex;
  }
  
  .assign-form {
    max-height: 18rem;
    background: #444;
    color: #fff;
    border: 2px solid #444;
  }
  
  .assign-form select {
    background: blue;
    color: #fff;
    width: 85%;
    margin: auto;
  }
  
  .rig-button {
    background: #888;
    color: #fff;
    box-shadow: -2px 5px 5px -2px blue;
    width: 95%;
    margin: 1.3rem auto 0.8rem auto;
  }
  
  .assignments-container {
    margin-top:1.40rem;
    max-height: 18rem;
    color: #fff;
    background: #444;
    margin-left: 5rem;
    min-width: 50%;
    max-width: 53%;
    text-align: center;
  }
  
  table {
    padding-left: 2.75rem;
  }
  
  td {
    padding: 0.3rem 1rem;
    background-color: blue;
  }
  
  .messages-container {
    color: #444;
  }
  
  .messages-container p {
    font-size: medium;
    text-align: left;
  }
  
  .message {
    border-bottom: 1px solid #444;
  }
  
  .bold {
    font-weight: bolder;
    font-size: large;
  }
  