

.tabulator{
    height:70vh;
    font-size:2vh;
    ;
  }
  .tabulator-tableholder{
    width:500px;
  }
      .tabulator-header{
        font-size:large;
      }

      .tabulator-row{
        background:rgb(133, 89, 133);
      }
          .tabulator-row-even{
            background:blue;
          }