* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #fff;
}

body {
  background-color: black;
}

.App {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
overflow-x:hidden;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #adadad;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius:10px;
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}

/* section {
  width: 100%;
  max-width: 420px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
} */

#card{
  margin-top:5vh;
  margin-left:3vw;
  margin-right:3vw;
  margin-bottom:5vh;
}
.card_label{
  flex-direction:row;
  font-size:.5em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-transform:capitalize;
}
td{
  text-transform:Capitalize;
}
a, a:visited {
  color: #fff;
}

/* input[type="text"],
input[type="password"],
button,
textarea {
font-family: 'Nunito', sans-serif;
font-size: 22px; */
/* padding: 0.25rem;
border-radius: 0.5rem;
} */

label,
button {
margin-top: 0.5rem;
}
button {
  display:flex;
  width:6rem;
  align-items:center;
  justify-content:center;
  color: #fff;
  text-transform: uppercase;
  padding: 3px;
  text-align: center;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  background-color: #161213;
  background-image: radial-gradient(200% 70% at center 20%, rgba(48,44,45,1) -30%, rgba(50,46,47,1) 49%, rgba(22,18,19,1) 50%, rgba(22,18,19,1) 150%);
  background-repeat: no-repeat;
  transition: background-position-y ease-in-out 250ms;
}

button:hover {
  background-position-y: -50px;
}
/* button {
  background-color:#444;
  padding: 0.5rem;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
} */

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

