.checklist_container,
.checklist_interface,
.checklist_display,
.manifest_form {
display: flex;
flex-direction: column;
color: #fff;
text-shadow: var(--text-shadow);
}

.checklist_container {
background-color: var(--background-color-dark);
}

.checklist_interface,
.checklist_display {
width: 250px;
border-radius: 5px;
box-shadow: 10px 10px 50px var(--box-shadow-color);
align-items: center;
justify-content: start;
}

.checklist_interface {
height: 200px;
background-color: var(--background-color-medium);
}

.checklist_display {
height: 400px;
background-color: rgba(50, 50, 50, 0.9);
overflow-y: scroll;
overflow-x: hidden;
font-size: 1em;
}

.checklist_display table,
.checklist_display tr {
width: 250px;
height: 20px;
}

<<<<<<< HEAD
.checklist_interface_title{
    font-size:.75em;
    padding:3%;
    margin-top:0.75rem;
=======
.checklist_display tr {
box-shadow: 2px 2px 5px var(--box-shadow-color);
>>>>>>> 1b05cc4f7a1cfc8acb2d18651ff9e09c00bbe062
}

.checklist_interface_title,
.manifest_form {
font-size: .75em;
padding: 3%;
}

.manifest_form {
height: 200px;
align-items: center;
justify-content: start;
background: transparent;
}

.manifest_form select {
width: 173px;
align-self: center;
}

/* button{
    height:2em;
    width:40%;
    text-justify:center;
    text-align:center;
} */