
  .items_container {
    display: flex;
    flex-direction:column;
  }

  .items_display{
    width:250px;
    height:400px;
    background-color:#444444;
    border-radius:5px;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size:1em;
    background-image: linear-gradient(to bottom right, #444, #2e2e2e, #444, #2e2e2e);
    overflow-y:scroll;
    overflow-x:hidden;
  }
  .items_display table{
    width:250px;

  }
  .items_display tr{
    height:20px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
  .items_display td{
    height:20px;
  }

  .items_interface{
    width:250px;
    height:200px;
    display:flex;
    flex-direction:column;
    font-size:1em;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    border-radius:5px;
    background-color:#444;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: start;
    background-image: linear-gradient(to bottom right, #444, #2e2e2e, #444, #2e2e2e);
  }
  .items_interface h3{
    font-size:1em;
  }
  .items_label{
    flex-direction:row;
    font-size:.5em;
  }
  .items_label label{
    width:150px;
  }
  .items_label input{
    width:50px;
  }


  table th {
    text-align:center;
  }
  
  table tr {
    height: 1.5rem;
  }