.modal-background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(59, 79, 90, 0.85);
    z-index: 1000;
  }
  
  .modal-main {
    position:fixed;
    background: rgb(194, 171, 241);
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 1em;
    border-radius: 5px;
  }
  
  .modal-main button.close {
    font-size: 2em;
    background: none;
    border: none;
    position: absolute;
    top: 0em; 
    right: 0.2em;
  }
  
  .modal-main button.close:hover {
    opacity: 0.7;
    color:rgba(170, 111, 225, 0.85)
  }