.supe-modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(59, 79, 90, 0.85);
  z-index: 1000;
}

.supe-modal-main {
  position:fixed;
    top:50%;
    left:50%;
    max-height:90vh;
    width:60%;
    transform: translate(-50%,-50%);
    background-color:#444;
    border-radius:5px;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #444, #2e2e2e, #444, #2e2e2e);
    overflow: auto;
}

.supe-modal-main button.close {
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  top: 0em; 
  right: 0.2em;
}

.supe-modal-main button.close:hover {
  opacity: 0.7;
  color:rgba(170, 111, 225, 0.85)
}

@media(max-width: 400px){
  .supe-modal-main {
    position:fixed;
    top:50%;
    left:50%;
    height:auto;
    width:80%;
    transform: translate(-50%,-50%);
    background-color:#444;
    border-radius:5px;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #444, #2e2e2e, #444, #2e2e2e);

  }
}