.supervisor_container{
    margin:0;
    height:100vh;
    width:100vw;
    background-image:url('../assets/metallic3.jpg');
    
  }
  
  .welcome {
    display:flex;
    justify-content:center;
    align-items:center;
    height:10vh;
    width:100vw;
  }
  
  .scroll-wrapper{
    width:85vw;
    height:auto;
    overflow:auto;
  }
.supervisor-content{
  position:absolute;
  right:0;
  width:85vw;
  height: 90vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  overflow-y:scroll;
  overflow-x:hidden;
}
.supervisor-columns{
  width:85vw;
  height: 300vh;
  display:flex;
  background-color:rgb(0, 0, 0, 0.5);
  flex-direction:column;
  justify-content:flex-start;
  overflow-y:scroll;
}
  /* .flexTechs {
    display: flex;
    flex-direction:row;
    align-items:top;
    justify-content: space-evenly;
    width:50vw;
    height:90vh;
    
   } */

    h3{
      font-size:1em;
      padding:5%;
    }

  .assign-form {
    display:flex;
    flex-direction:column;
    justify-content: start;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    border-radius:5px;
    background-color:transparent;
    }
  
  .assign-form select {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background: rgb(0, 0, 0);
    color: #fff;
    width: 85%;
    text-transform:uppercase;
  }

  .assign-tech{
    width:250px;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#444;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    background-image: linear-gradient(to bottom right, #444, #2e2e2e, #444, #2e2e2e);
    border-radius:5px;
    
  }
  .assign-rig{
    width:250px;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#444;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    background-image: linear-gradient(to bottom right, #444, #2e2e2e, #444, #2e2e2e);
    border-radius:5px; 
    
  }
  
 /* .rig-button {
    background: #888;
    color: #fff;
    width: 95%;
    
  }  */
  .placeholder_block{
    width:250px;
    height:200px;
  }
  .assignments-container {
    width:250px;
    height:470px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    Display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:5px;
    background-color:#444;
    box-shadow: 10px 10px 50px rgb(0, 0, 0);
    background-image: linear-gradient(to bottom right, #444, #2e2e2e);
  }
    .assignments-container td{
      background-image:radial-gradient(200% 70% at center 20%, rgba(48,44,45,1) -30%, rgba(50,46,47,1) 49%, rgba(22,18,19,1) 50%, rgba(22,18,19,1) 150%);
    }
  
  .inventory_interface{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    
    
  }
 
  .supervisor-column-1{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
  }

  .supervisor-column-2{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
  }
  .Map{
    width:90%;
  }
  .map-container{
    width:100%;
  }

  .supervisor_buttons{
    position:absolute;
    bottom:0;
    height:10vh;
    width:60vw;
    display:flex;
    justify-content:center;
    align-items:center;
    
  }







  hr.dotted{
    border: 7px solid #444;
    border-radius: 5px;
    height:80vh;
    background-color:black;
    justify-self:center;
    align-self:center;
  }











  .messages-container {
    color: #444;
  }
  
  .messages-container p {
    font-size: medium;
    text-align: left;
  }
  
  .message {
    border-bottom: 1px solid #444;
  }
  
  .bold {
    font-weight: bolder;
    font-size: large;
  }
  
  table {
    width:250px;
  }
  th{
    font-size:.75em;
   }
  td {
    font-size:.5em;
    height:30px;
  }
  option{
    padding:2px;
  }


